body.bg-default {
  background-color: #0c0c0c;
}

body.bg-toggled {
  background-color: #f3f4f6;
}

.bg-default,
.bg-toggled {
  transition: background-color 0.3s ease-in-out;
}

.fading {
  opacity: 1;
}

/* On / Off toggle */
.toggle-btn {
  background: rgba(66, 66, 66, 0.4);
  backdrop-filter: blur(6px);
  border-radius: 99px;
  transition:
    background-color 0.1s ease,
    border-color 0.2s ease;
  cursor: pointer;
  position: fixed;
}

.toggle-btn .thumb {
  background-color: #0c0c0c;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-btn .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.toggle-btn.toggled {
  background: rgba(196, 196, 196, 0.4);
  backdrop-filter: blur(6px);
}

.toggle-btn.toggled .thumb {
  background-color: #f3f4f6;
}

.toggled-btn:hover {
  border-color: #6f6f6f;
}

.toggle-btn.toggled .thumb {
  left: calc(50px - 13px);
}
